.body{
    width: 1200px;
    margin: 20px auto;
}
.div1{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.div1 img{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    
}
.div1_text{
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 400px;
    left: 722px;
    
}
.div2{
    text-align: center;
    padding: 50px;
}
.lorem_div2{
    text-align: justify;
    padding: 0 100px;
}
.div3{
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}
.booking{
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 20px 150px;
    text-align: justify;
}
.three{
    position: absolute;
    bottom: 60px;
    right: 200px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 50%;

}
.div4{
    text-align: center;
    height: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    
}
.div4_contact_info{
    float: left;
    text-align: justify;
    width: 25%;
    position: absolute;
    bottom: 200px;
    left: 250px;

    
}
.div4_form{
    float: left;
    text-align: justify;
    width: 30%;
    height: 200px;
    position: absolute;
    bottom: 100px;
    right:250px;

}
.div5 img{
    height: 300px;
    width: 100%;
    margin: 0;
    
}